/* importando font "inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap');

.body{
    background-color: #121214;
    font-family: 'Inter', sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Frame-1{
    position: relative;
    display: flex;
    background-color: #1e1e1e;
    width: 420px;
    height: 640px;
    border-radius: 4px;
    border: solid 2px #ff1212;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;

}

#Header_{
    position: absolute;
    display: flex;
}

#Logo{
    position: absolute;
    width: auto;
    height: 100px;
    padding-left: 160px;
    padding-right: 160px;
}

#Title{
    position: relative;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: #E1E1E6;
    width: 420px;
    height: 60px;
    top: 80px;
    text-align: center;
}

#Body_{
    display: flex;
    position: absolute;
    top: 200px;
    margin-left: 42px;
    margin-right: 42px;
    width: 336px;
    height: 460px;
}

.Label{
    position: relative;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #E1E1E6;
    width: 336px;
    height: auto;
}

.Input{
    top: 28px;
    display: flex;
    position: absolute;
    /* color: #E1E1E6;
    background-color: #202024; */
    /* border-radius: 4px; */
    width: 336px;
    height: 42px;
    border-color: #ff1212;
    border: solid 2px #ff1212;
    border-radius: 4px;

}

.Input_clean{
    background-color: #202024;
    border-style: hidden;
    color: #7c7c8a;

    width: 336px;
    /* height: 42px; */
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 16px;
}

.Button{
    position: absolute;
    display: flex;
    top: 98px;

    margin-left: 28px;
    margin-right: 28px;
}

.btn{
    width: 280px;
    height: 48px;

    border-radius: 4px;
    background-color: #ff1212;
    border: none;

    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #121214;
}

.Output{
    top: 200px;
    display: flex;
    position: absolute;
    /* color: #E1E1E6;
    background-color: #202024; */
    /* border-radius: 4px; */
    width: 336px;
    height: 42px;
    border: solid 2px #ff1212;
    border-radius: 4px;
}

.Title_video{
    display: flex;
    position: absolute;
    top: 170px;
    
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: #E1E1E6;
    font-size: 14px;
}

.radio-group{
    position: absolute;
    top: 260px;
    width: 160px;
    color: #ffffff;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.div-radio{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    margin-bottom: 18px;
}

.radio-group label{
    margin-left: 16px;
}

.radio{
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    border: 2px solid #ff1212;
    border-radius: 50%;
    background-color: #121214;
    margin: 0;
    padding: 0;
    
}

/* .radio :before{
    content: '';
    width: 16px;
    height: 16px;
    background-color: #ff1212;
    position: absolute;
} */