/* importando font "inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap');

.body{
    background-color: #121214;
    color: aliceblue;
    font-family: 'Inter', sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Frame-1{
    position: relative;
    display: flex;
    background-color: #1e1e1e;
    width: 420px;
    height: 640px;
    border-radius: 4px;
    border: solid 2px #ff1212;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;

}

/* #Header{
    position: relative;
    display: flex;
    height: 200px;
    width: 100%;
} */

#Logo{
    position: absolute;
    width: auto;
    height: 100px;
    padding-left: 160px;
    padding-right: 160px;
}

#Title{
    position: relative;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: #E1E1E6;
    width: 420px;
    height: 60px;
    top: 80px;
    text-align: center;
}